[defaults]
inventory=inventory/inventory.ini
ansible_python_interpreter=/usr/bin/python3
interpreter_python=auto_silent
callbacks_enabled = ansible.posix.profile_tasks

[ssh_connection]
# Enables multiplexing
pipelining = True
# Controls the control path (where the socket lives)
control_path = %(directory)s/ansible-%%h-%%p-%%r
# How long to keep the connection open
control_path_dir = /tmp/ansible/cp