# {{ ansible_managed }}
server:
    # Threading
    # Two threads fit the H618 well for home use
    num-threads: 2

    # Connection tuning
    incoming-num-tcp: 500
    tcp-idle-timeout: 30000
    outgoing-range: 8192
    num-queries-per-thread: 4096

    # DNSSEC logging disabled
    val-log-level: 0
