# {{ ansible_managed }}
server:
    # Privacy
    # Minimize which part of the name is sent upstream (RFC 7816)
    qname-minimisation: yes

    # Anti-spoofing
    # Disable 0x20 case randomization for compatibility
    use-caps-for-id: no

    # Socket buffer tuning
    # Larger buffers improve throughput during query bursts
    so-rcvbuf: 4m
    so-sndbuf: 4m

    # Required for num-threads > 1 to be effective
    so-reuseport: yes

    # Logging
    log-queries: no
    log-replies: no
