server:
    # Memory Management
    msg-cache-size: 10m
    rrset-cache-size: 20m
    infra-cache-numhosts: 2000
    # Ensure kernel buffer is large enough to not lose messages in traffic spikes
    so-rcvbuf: 1m