# {{ ansible_managed }}
server:
    # Disable chroot
    chroot: ""                   # Run without chroot
    username: {{ unbound_user }}          # Run as the unbound user
    directory: {{ unbound_config_dir }}   # Use the config directory as the working directory
