# {{ ansible_managed }}
#!/bin/bash
set -e
cd /etc/pihole
systemctl stop pihole-FTL
for db in $(ls *.db | grep -v "old")
do
  # Full optimization
  sqlite3 $db "PRAGMA integrity_check; VACUUM; REINDEX; ANALYZE;"
done
systemctl start pihole-FTL
