# {{ ansible_managed }}
#!/bin/bash
sync
cd /etc/pihole
systemctl stop pihole-FTL
for db in $(ls *.db | grep -v "old")
do
  # Full optimization
  result=$(sqlite3 $db "PRAGMA integrity_check; VACUUM; PRAGMA optimize;")
  echo "$db optimization: $result"
done
systemctl start pihole-FTL
