# {{ ansible_managed }}
/var/log.hdd/pihole/*.log 
/var/log/pihole/*.log
{
    daily
    rotate {{ pihole_logrotate_days }}
    copytruncate
    compress
    delaycompress
    notifempty
    missingok
}