# {{ ansible_managed }}
/var/log/pihole/*.log
/var/log.hdd/pihole/*.log 
{
    daily
    rotate 7
    compress
    delaycompress
    missingok
    notifempty
    sharedscripts
    postrotate
        /usr/lib/rsyslog/rsyslog-rotate
    endscript
}