# Minimal working Unbound configuration

server:
    # Listen on localhost only
    interface: lo
    port: 5335
    access-control: 127.0.0.1 allow
    private-address: {{ lan_network }}
    
    # DNS settings
    do-ip4: yes
    do-ip6: yes
    do-udp: yes
    do-tcp: yes

    # Logging
    verbosity: 1
    use-syslog: yes

# Include additional config files
include: "{{ unbound_config_dir }}/unbound.conf.d/*.conf"
